/nginx/dist
/api/data/csv_backup
/api/data/hiatal_hernia
/api/data/wet_swallows
/api/*.CSV
/api/.env
/api/data/*.CSV
__pycache__/
/api/db_model/__pycache__
/api/models/__pycache__
/api/data/basic_test
